= simple_form_for @model do |f|
  - if @model.errors.any?
    #error_explanation
      %h2= "#{pluralize(@model.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @model.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :guid
  = f.association :artist
  .actions
    = f.submit 'Save'
